[submodule "oss/gaussian/renderer/vendor/image_gs"]
	path = oss/gaussian/renderer/vendor/image_gs
	url = https://github.com/NYU-ICL/image-gs.git
[submodule "oss/gaussian/interception/third_party/Detours"]
	path = oss/gaussian/interception/third_party/Detours
	url = https://github.com/microsoft/Detours.git
